<div class="post-wrap">
    <div class="post-container flex-center">
        <div class="flex-center card">
            <!--제목,분류,작성일-->
            <div class="card-header">
                <p><strong>{{ post.title }}</strong><span>[게시판]</span></p>
                <p><span>{{ post.create_at|date:'Y.m.d. H:i' }}</span></p>
            </div>
            <div class="card-body">
                <!--작성자, 조회수-->
                <div>
                    <span>작성자 : {{ post.writer }}</span>
                    <span>조회수 : {{ post.review }}</span>
                </div>
                <!--내용-->
                <div>
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
        <div class='content-btn'>
            <button id="write" class= 'btn btn-sm' onclick="location.href='/board/'">목록으로</button>
        </div>

    </div>
</div>