{% load static %}
<div class='bottom-right fixed open-modal-box shadow' id="open-modal">
    1:1 채팅
</div>
<div class='bottom-right fixed shadow' id = 'close-box'>
    X
</div>
<div id="modal" class='shadow'>
    <div class="flex-center modal-header">
        <h4 class="modal-h4">AI 챗봇 무엇이든 물어봐주세요</h4>
    </div>
    <div class="modal-content">
        <div class="answer-box">
            <div class="answer">
                무엇을 도와드릴까요?
            </div>
        </div>
    </div>
    <div class="modal-input-box">
        <input class="modal-input" type="text" id="modal-input" placeholder="여기에 궁금한 내용을 적어주세요">
    </div>
</div>
<script>
    const baseURL = "{% url 'trip:index' %}";
</script>