{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travel HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{%static 'css/slicknav.css' %}">
   <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
   <link rel="stylesheet" href="{%static 'css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{%static 'css/fontawesome-all.min.css' %}">
   <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}">
   <link rel="stylesheet" href="{%static 'css/themify-icons.css' %}">
   <link rel="stylesheet" href="{%static 'css/slick.css' %}">
   <link rel="stylesheet" href="{%static 'css/nice-select.css' %}">
   <link rel="stylesheet" href="{%static 'css/style.css' %}">
   <link rel="stylesheet" href="{%static 'css/responsive.css' %}">

   <!-- Kakao Maps API-->
   <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bdb7d9476dcc9d062bc8a8dfc01506b5&libraries=services"></script>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img_m/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        {% include "nav.html" %}
        <!-- Header End -->
    </header>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img_m/hero/contact_hero.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>동행모집</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
              <form action="{% url 'trip:set_region' %}" method="post" id="set_region" novalidate="novalidate">
                {% csrf_token %}
                <!-- Map -->
                <div class="d-none d-sm-block mb-5 pb-4">
                  <div id="map" style="height:480px; width:100%; position:relative; overflow:hidden;">
                    <div style="height:100%; width:100%; position:absolute; top:0px; left:0px;"></div>
                  </div>
                </div>

                <!-- Button -->
                <div class="d-none d-sm-block mb-5 pb-4">
                  <div style="width:100% position:absolute; top:0px; left:50%;">
                    <input class="form-control valid" name="region-setting" id="region-setting" type="text" onfocus="this.placeholder = ''" placeholder="동행할 지역 검색" value="{{ region }}" style="width:100%">
                    <button type="submit" class="button button-contactForm boxed-btn" style="width:100%; margin-top:10px;" name="region-button" value="region-button">지역저장</button>
                  </div>
                </div>
              </form>
              
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">동행친구찾기</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="{% url 'trip:set_write' %}" method="post" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                          <div>
                            <!-- 경도, 위도 -->
                            <input type="text" id="lat" name="lat" value="">
                            <input type="text" id="lng" name="lng" value="">
                          </div>
                                <div class="row">
                                  <!-- community_destination -->
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <input class="form-control valid" name="community_destination" id="community_destination" type="text" placeholder="동행 지역" value="{{ region }}" style="width:100%">
                                    </div>
                                  </div>                                  

                                  <!-- recruitment -->
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <input class="form-control valid" name="recruitment" id="recruitment" type="number" placeholder="모집 인원" style="width:100%">
                                    </div>
                                  </div>

                                  <!-- Title(subject) -->
                                  <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="title" id="title" type="text" style="width:100%" onblur="this.placeholder = 'ex)4박5일 제주도 가실 동행 3분 구해요!'" placeholder="ex)4박5일 제주도 가실 동행 3분 구해요!">
                                    </div>
                                  </div>
                                  <!-- start_date -->
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="start_date" id="start_date" type="date" style="width:100%" placeholder="가는 날짜">
                                    </div>
                                </div>

                                <!-- end_date -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="end_date" id="end_date" type="date" style="width:100%" placeholder="오는 날짜">
                                    </div>
                                </div>

                                <!-- message -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="messages" id="messages" cols="30" rows="9" style="width:100%" placeholder="자세한 내용을 적어주세요!"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn" id="set_write_button" name="set_write_button" value="set_write_button" style="width:100%">글쓰기</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3>서울특별시 영등포구</h3>
                                <p>Rosemead, CA 91770</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+02 111 222 3333</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3>oreumi_final@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
              var area = "{{region}}";
            </script>
        </section>
    <!-- ================ contact section end ================= -->
    
    <footer>
        <!-- Footer Start-->
        {% include "footer.html" %}
        <!-- Footer End-->
    </footer>

		<!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	  
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
        
		<!-- One Page, Animated-HeadLin -->
    <script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/animated.headline.js' %}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- JS here -->
    <script>
      // Map
      var container = document.getElementById('map');
      var options = {
	      center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 4
      };

      var map = new kakao.maps.Map(container, options); // 지도 생성

       // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(area, function(result, status) {
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
    
        var message = 'latlng: new kakao.maps.LatLng(' + result[0].y + ', ' + result[0].x + ')'

        var resultDiv = document.getElementById('clickLatlng'); 
		    console.log(resultDiv);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });

        
        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }

      var lat = result[0].x
      var lng = result[0].y

      console.log(lat);
      console.log(lng);

      document.getElementById('lat').value = lat;
      document.getElementById('lng').value = lng;
    });
    </script>
  </body>
</html>