{% load static %}
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding footer-bg" data-background="{% static 'img/main_footer_image.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-8 col-lg-8 col-md-5 col-sm-6">
                   <div class="single-footer-caption mb-50">
                     <div class="single-footer-caption mb-30">
                          <!-- logo -->
                         <div class="footer-logo">
                             <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                         </div>
                         <div class="footer-tittle">
                             <div class="footer-pera">
                                 <p>전국의 다양한 사람들과 만나서 가는 여행! <br>본인과 비슷한 여행취향 및 취미를 가진 사람들과 즐거운 동행을 해보세요.</p>
                            </div>
                         </div>
                     </div>
                   </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="{% url 'trip:index' %}">홈</a></li>                                                                                                                                    
                                <li><a href="{% url 'trip:blog' %}">동행 구하기</a></li>
                                <li><a href="{% url 'trip:packages' %}">여행상품</a></li>
                                <li><a href="{% url 'trip:blog' %}">커뮤니티</a></li>
                                <li><a href="#">  Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Footer bottom -->
            <div class="row pt-padding">
             <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="footer-copy-right">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>만남은 쉽고 이별은 어렵조 <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
             </div>
         </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>