{% load static %}
{% load humanize %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Go trip</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
            <link rel="stylesheet" type="text/css" href="{% static 'admin_vendor/fontawesome-free/css/all.min.css'%}">
            <!-- 챗봇 -->
            <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
            <link rel="stylesheet" href="{% static "css/chat/chat2.css" %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    {% include 'nav.html' %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/packages.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- CSS 확인작업중 -->
                            <div class="hero-cap text-center" style="background-image: url("{% static 'img/hero/contact_hero.jpg' %}");"> 
                                <h2>Our Packages</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Favourite Places Start -->
        <div class="favourite-place place-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>추천여행패키지</span>
                            <h2>인기여행상품</h2>
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    {%for item in items %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-place mb-30">
                            <div class="place-img">
                                {% if item.image %}
                                    <img src="{{ item.image.url }}" alt="{{ item.destination }}">
                                {% endif %}
                            </div>

                            <div class="place-cap">
                                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i><span>8.0superb</span></span>
                                    <h3><a href="{% url 'trip:package_detail' item.id%}">{{ item.title }}</a></h3>
                                    <p class="dolor">{{ item.content }}</p>
                                    <p class="dolor">{{ item.price|intcomma }}원<span>/ 인원 당</span></p>
                                </div>

                                <div class="place-cap-bottom">
                                    <ul>
                                        <li><i class="far fa-clock">{{ item.start_date }}</i></li>
                                        <!-- 날짜계산기를 이용하기 위해 숨김값으로 가져옴 -->
                                        <li><i class="far fa-clock" style="display:none">{{ item.end_date }}</i></li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ item.destination }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Favourite Places End -->

        <!-- Pagination-area Start -->
        <div class="pagination-area pb-100 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                  <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted left-arrow"></span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                  <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination-area End -->
    </main>
    {% include "chat/chat_merge.html" %}
    <footer>
        
        <!-- Footer Start-->
        <div class="footer-area footer-padding footer-bg" data-background="{% static 'img/service/footer_bg.jpg' %}">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             <div class="footer-logo">
                                 <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p>Lorem iaspsum doldfor sit amvset, consectetur adipisicing cvelit csed do eiusmod tempor incididucvccnt ut labovre.</p>
                                </div>
                             </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="{% url 'trip:about' %}">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="{% url 'trip:contact' %}">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                 <li><a href="#">Frequently Asked Questions</a></li>
                                 <li><a href="#">Terms & Conditions</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                 <li><a href="#">Report a Payment Issue</a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row pt-padding">
                 <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                         <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                 </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                        <!-- social -->
                        <div class="footer-social f-right">
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                 </div>
             </div>
            </div>
        </div>
        <!-- Footer End-->
        
    </footer>

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/animated.headline.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
        
        <!-- contact js -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- ChatBot -->
        <script src="https://kit.fontawesome.com/b02373c6ac.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/chatbot.js' %}"></script>

        <!-- 날짜계산기 -->
        <!-- 맞는지 확인해봐야함 -->
        <script type="text/javascript">
            const startDate = document.querySelector("#far fa-clock")[0];
            const endDate = document.querySelector("#far fa-clock")[1];

            const start = new Date(startDate);
            const end = new Date(endDate);

            let year = Math.abs(end.getFullYear() - start.getFullYear()); //년도
            let month = Math.abs((end.getFullYear() - start.getFullYear()) * 12 + (end.getMonth() - start.getMonth())); //월
            let day = Math.abs(end.getTime() - start.getTime());
                day = Math.ceil(day / (1000 * 60 * 60 * 24));

            var result.innerHTML = "<li><i class='far fa-clock'>" + year + month + day + "</i></li>";
        </script>
    </body>
</html>