{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travel HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->
    
  <!-- CSS here -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">

  <!-- Kakao Maps API-->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bdb7d9476dcc9d062bc8a8dfc01506b5&libraries=services"></script>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        {% include "nav.html" %}
        <!-- Header End -->
    </header>
  
     <!-- slider Area Start-->
     <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/blog_images.jpeg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <form method="POST" action="{% url 'trip:search_trip' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="col-xl-9 col-lg-9 col-md-9">
                                        <div class="hero__caption">
                                            <h1>동행을 구해볼까요?</h1>
                                            <p>가고 싶은 지역을 검색해서 동행을 찾아보세요!</p>
                                            {% if search_region %}
                                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                                    <input type="text" class="form-control custom-input" value="{{search_region}}" name="region"
                                                    onfocus="this.placeholder = '{{search_region}}'"
                                                    onblur="this.placeholder = '{{search_region}}'">
                                                    <button class="btns" type="submit" value="search" name="action"><i class="ti-search"></i></button>
                                                </div>
                                            {% else %}
                                                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                                    <input type="text" class="form-control custom-input" placeholder='어디로 떠나시나요?' name="region"
                                                        onfocus="this.placeholder = ''"
                                                        onblur="this.placeholder = '어디로 떠나시나요?'">
                                                    <button class="btns" type="submit" value="search" name="action"><i class="ti-search"></i></button>
                                                </div>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <!-- slider Area End-->
    <!--================Blog Area =================-->

    <section class="blog_area section-padding" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
        <div class="container" style="justify-content:center; align-items:center;">
            <div style="max-width: 1500px;">
                <div>
                    {% for post in posts %}
                        <article class="blog_item" style="max-width: 20%;">
                            <div class="blog_item_img">
                                <!-- 
                                    {% if post.post_lng %} 
                                    <div class"card-img rounded-0" id="staticMap" name="staticMap" style="width:270px; height:220px;"></div>
                                    {% endif %}
                                -->
                                {% if post.post_image %}
                                <img class="card-img rounded-0" src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
                                {% endif %}
                            </div> 

                                <div class="blog_details" style="margin: 0 auto;">
                                    <a class="d-inline-block" href="{% url 'trip:together_detail' post.id %}">
                                        <h2 style="font-size: 18px;">{{ post.post_title|truncatechars:12 }}</h2>
                                    </a>
                                    <p style="font-size: 14px;">{{ post.post_content|truncatechars:15 }}</p>
                                    <p class="dolor">{{ post.recuited_people }}<span>명 모집중 / {{ post.region }}</span></p>
                                    <ul>
                                        <li style="font-size:14px;"><span>여행기간</span></li>
                                    <li style="font-size:14px;"><i class="far fa-clock"> <span> </span> {{ post.start_date|date:"m/d/Y" }}<span> ~ </span>{{ post.end_date|date:"m/d/Y" }}</i></li>
                                    </ul>
                                    <ul class="blog-info-link">
                                        <li style="margin-right: 10px; width:30px; height:30px;"><img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}"></li>
                                        <li style="font-size: 14px;">{{ post.user_id }}</li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                        <div class="no-search-result" style="height: 20rem;"> 조회된 결과가 없습니다.<br>지역명으로 검색해주세요.</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <script>
            var lat = "{{lat}}"
            var lon = "{{lon}}"
        </script>

    </section>
    <!--================Blog Area =================-->
    {% include "chatbot.html" %}
    <footer>
        <!-- Footer Start-->
        {% include "footer.html" %}
        <!-- Footer End-->
    </footer>

<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/animated.headline.js' %}"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- ChatBot -->
        <script src="{% static 'js/chatbot.js' %}"></script>

        <!-- Script -->
        <script>
            var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div  
                staticMapOption = { 
                    center: new kakao.maps.LatLng(lat, lng), // 이미지 지도의 중심좌표
                    level: 3 // 이미지 지도의 확대 레벨
                };

            // 이미지 지도를 표시할 div와 옵션으로 이미지 지도를 생성합니다
            var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
        </script>
</body>
</html>