{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/chat/chat2.css" %}">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
</head>
<body>
    {% include "chat/chattest.html" %}
</body>
<script src="{% static "js/chat/chat2.js" %}"></script>
<script src="https://kit.fontawesome.com/b02373c6ac.js" crossorigin="anonymous"></script>
</html>